@font-face {
    font-family: "Comic Neue";
    src: local("Comic Neue Bold"), local("ComicNeue-Bold"),
        url("ComicNeue-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100vh;
}

body {
    font-size: 1rem;
    color: #f462c6;
    background-color: #211f2b;
    text-align: center;
    font-family: "Comic Neue", "Comic Sans MS", "Comic Sans", cursive, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size: 2.5rem;
}

h1 a {
    color: #f462c6;
}

h1 a:hover {
    text-decoration: none;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h6 {
    font-size: 0.75rem;
    color: #ffffff;
}

iframe {
    border: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#flash-container {
    --splash-screen-background: #000000;
}