body {
    color: #f462c6;
    background-color: #211f2b;
    text-align: center;
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
}

iframe {
    border: none;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}