@font-face {
    font-family: "Comic Neue";
    src: url("ComicNeue-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

body {
    color: #f462c6;
    background-color: #211f2b;
    text-align: center;
    font-family: "Comic Neue";
    margin: 0;
}

h1 a {
    color: #f462c6;
}

h1 a:hover {
    text-decoration: none;
}

iframe {
    border: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#flash-container {
    --splash-screen-background: #000000;
}

h6 {
    color: #ffffff;
}